@use "../abstracts/variables" as *;

.modal {
  position: relative;
  // top: 0;
  // left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  width: min(390px, 100%);
  background-position: center;
  background-color: whitesmoke;
  overflow: hidden;

  &__overlay {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100%;
    background-color: $text-color-light;
    opacity: 0;
    animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both,
               display-none 0.6s ease-in-out both;
  }
  &__btn-return {
    position: absolute;
    top: 2%;
    left: 4%;
    width: 10vw;

    background-color: transparent;
    padding: 0;
    border: none;
  }
  &__btn-container {
    display: flex;
    gap: 1em;
  }
}

.modal-transition {
  display: initial;
  opacity: 1;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.modal-hidden {
  position: initial;
  display: none;
  opacity: 0;
}