$primary-color: #D7713B;
$secondary-color: #FBB95D;
$neutral-color: #FFE9CA;
$test-color: #FF5572;

$text-color-light: white;
$text-color-dark: black;

$font-dela-gothic-one: 'Dela Gothic One', sans-serif;
$font-mochiy-pop-p-one: 'Mochiy Pop P One', sans-serif;
$font-potta-one: 'Potta One', system-ui;
$font-zen-maru-gothic: 'Zen Maru Gothic', serif;

$box-shadow: 6px 8px 5px rgba(0, 0, 0, 0.5);