@use "../abstracts/variables" as *;

.keyboard {
  position: relative;
  margin: 0 auto;
  bottom: -8%;
  &__row {
    display: flex;
    justify-content: center;
  }
  &__row--last {
    @extend .keyboard__row;
  }
  &__key {
    width: 2.25rem;
    height: 2.75rem;
    background-color: $primary-color;
    color: $text-color-light;
    font-family: $font-zen-maru-gothic;
    font-size: 1.2rem;
    border: 2px solid $text-color-light;
    border-radius: 0.25em;
    box-shadow: $box-shadow;
  }
  &__key--enter {
    @extend .keyboard__key;
    width: 60%;
    font-family: $font-mochiy-pop-p-one;
  }
  &__key--backspace {
    @extend .keyboard__key;
    width: 3em;
    font-family: $font-mochiy-pop-p-one;
    position: relative;
    box-shadow: none;
  }
}
