@use "../abstracts/variables" as *;

.keyboard {
  grid-row: 9 / span 4;
  margin-inline: auto;
  margin-block: auto;
  max-width: 100%;
  &__row {
    display: flex;
    justify-content: center;
  }
  &__row--last {
    @extend .keyboard__row;
  }
  &__key {
    width: 9.3vw;
    height: 2.75rem;
    color: $text-color-light;
    font-family: $font-zen-maru-gothic;
    font-size: 1.4rem;
    background: rgba(255, 85, 114, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  &__key--enter {
    @extend .keyboard__key;
    width: 60%;
    font-family: $font-mochiy-pop-p-one;
  }
  &__key--backspace {
    @extend .keyboard__key;
    width: 3em;
    font-family: $font-mochiy-pop-p-one;
    position: relative;
    box-shadow: none;
  }
}
