@use "../abstracts/variables" as *;

.keyboard {
  grid-row: 10 / span 3;
  align-self: self-start;
  margin-inline: auto;
  margin-block: auto;
  max-width: 100%;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  &__row {
    display: flex;
    justify-content: center;
  }
  &__row--last {
    @extend .keyboard__row;
  }
  &__key {
    width: 9.3vw;
    height: 2.75rem;
    color: $text-color-light;
    font-family: $font-zen-maru-gothic;
    font-size: 1.4rem;
    background: rgba(255, 85, 114, 0.6);
    box-shadow: 6px 8px 5px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  &__key--enter {
    @extend .keyboard__key;
    width: 60%;
    font-family: $font-mochiy-pop-p-one;
  }
  &__key--backspace {
    @extend .keyboard__key;
    width: 3em;
    font-family: $font-mochiy-pop-p-one;
    position: relative;
    box-shadow: 6px 8px 5px rgba(0, 0, 0, 0.35);
  }
}
