@use "../abstracts/variables" as *;

.main-image {
  grid-row: 3 / span 4;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75);
  background-position: center;
  background-size: cover;
  color: #272727;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  border: 4px solid #EDBF9D;
  border-radius: 0.1em;
  box-shadow: $box-shadow;
  font-size: 13.5rem;
  font-family: $font-mochiy-pop-p-one;
  p {
    margin: 0;
    padding-bottom: 0.1em;
  }
}

.you-on--active {
  letter-spacing: 5px;
  font-size: 10rem;
}

.words--active-3 {
  letter-spacing: 4px;
  font-size: 7rem;
}

.words--active-4 {
  letter-spacing: 3px;
  font-size: 5.35rem
}

.words--active-5 {
  letter-spacing: 2px;
  font-size: 4.4rem;
 
}

.words--active-6 {
  letter-spacing: 2px;
  font-size: 3.5rem;
}

.words--active-7 {
  letter-spacing: 2px;
  font-size: 2.5rem;
}