@use "../abstracts/variables" as *;

.scores {
  grid-row: 7 / span 1;
  align-self: self-start;
  display: flex;
  justify-content: space-around;
  font-family: $font-potta-one;
  font-size: 1.125rem;
  color: $text-color-light;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  line-height: 0.7em;
  width: 70%;
  height: 4.5em;
  margin: 0 auto;
  border: 2px solid $text-color-light;
  border-radius: 0.5em;
  box-shadow: $box-shadow;
  background-color: rgba(255, 85, 114, 0.6);
  p {
    display: flex;
    flex-direction: column;
    margin: 0.75em 0;
    gap: 0.75em;
  }
}
